body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary:hover,
.btn-verde:hover,
.btn-gris-primary:hover,
.btn-naranja-primary:hover {
  background-color: black;
  border-color: black;
  color:white;
}

.btn-primary:hover,
.btn-verde:active,
.btn-gris-primary:active,
.btn-naranja-primary:active {
  background-color: black;
  border-color: black;
  color:white;
}


.btn-verde {
  background-color: green; /* Cambia el color a verde */
  color: white; 
  border: 1px solid green;
}

.btn-verde:focus {
  background-color: green; /* Cambia el color a verde */
  color: white; 
  border: 1px solid green;
}

.btn-gris-primary {
  background-color: grey; /* Cambia el color gris */
  color: black; 
  border: 1px solid grey;
}

.btn-gris-primary:focus {
  background-color: grey; /* Cambia el color gris */
  color: black; 
  border: 1px solid grey;
}

.btn-naranja-primary {
  background-color: rgb(243, 145, 8); /* Cambia el color naranja */
  color: black; 
  border: 1px solid rgb(243, 145, 8)
}

.btn-naranja-primary:focus {
  background-color: rgb(243, 145, 8); /* Cambia el color naranja */
  color: black; 
  border: 1px solid rgb(243, 145, 8)
}