body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-verde-primary {
  background-color: green; /* Cambia el color a tu verde */
  color: white; 
  border: 1px solid green;
}

.btn-gris-primary {
  background-color: grey; /* Cambia el color a tu verde */
  color: black; 
  border: 1px solid grey
}